:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #137bf7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #0a448b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}


.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;


}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em;



}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 7px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 7px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
    top: 200px;
    padding: 1em;

}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;

}

.secundario {
    align-items: center;
    margin: 0 10em;


}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;

}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;



}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    color: var(--branco-principal);
    margin: 5em 0;

}

.dispositivos__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;


}

.lista__rodape {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 16px;
    list-style-type: none;
    margin: 5em 10em;
    color: var(--branco-principal);
}



.lista__rodape a {

    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
    transition: 3ms;
}

.rodape__texto {

    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 5em 10em;


}


.lista__rodape a:hover {
    text-decoration: underline;



}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);

}